extends ../layout

block content
  include ../sections/portfolio

  include ../sections/about

  include ../sections/price

block js
  script(src="js/scroll.min.js")
  script(src="js/navigation.min.js")
