.about {
  padding-top: 185px;
  text-align: center;
}

.about__container {
  overflow-x: hidden;

  @media (min-width: $md) {
    overflow: auto;
  }
}

.about__title {
  margin: 0;
  color: #212021;
  font-size: 18px;
  font-family: $font-semibold;
  letter-spacing: 1.8px;

  @media (min-width: $md) {
    font-size: 24px;
    letter-spacing: 2.4px;
  }
}

.about__content-wrapper {
  margin-top: 45px;
}

.about__img-wrapper {
  position: relative;
  max-width: 320px;
  margin: 0 auto;
  padding-top: 345px;

  @media (min-width: $md) {
    max-width: 640px;
    padding-top: 465px;
  }
}

.about__img {
  position: absolute;
  width: 225px;
  height: 307px;

  @media (min-width: $md) {
    width: 306px;
    height: 417px;
  }

  &--left {
    top: 0;
    left: -85px;

    @media (min-width: $md) {
      left: 0;
    }
  }

  &--right {
    top: 35px;
    right: -90px;

    @media (min-width: $md) {
      top: 48px;
      right: 0;
    }
  }
}
