.contacts-author {
  margin: 0;
  margin-top: 35px;
  padding: 0;
  text-align: center;
  list-style: none;

  @media (min-width: $md) {
    margin-top: 80px;
  }

  @media (min-width: $lg) {
    margin-top: 115px;
    display: flex;
    justify-content: space-around;
  }
}

.contacts-author__item {
  margin-top: 27px;

  @media (min-width: $md) {
    margin-top: 30px;
  }

  @media (min-width: $lg) {
    margin-top: 0;
  }

  &:first-child {
    @media (min-width: $md) {
      margin-top: 0;
    }
  }
}

.contacts-author__link-label {
  display: inline-block;
  position: relative;
  padding-right: 30px;
  color: #4e4d4e;
  font-family: $font-semibold;
  letter-spacing: 1.36px;

  @media (min-width: $md) {
    padding-right: 25px;
    margin-right: 18px;
  }

  @media (min-width: $lg) {
    font-size: 18px;
    letter-spacing: 1.8px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 20px;
    width: 2px;
    height: 18px;
    background-color: #8eb574;
    box-shadow: 7px 0 0 0 #8eb574, 14px 0 0 0 #8eb574;
    transform: skew(-15deg);

    @media (min-width: $md) {
      right: 0;
    }
  }
}

.contacts-author__link {
  display: inline-block;
  margin-left: 5px;
  color: #4e4d4e;
  text-decoration: none;
  letter-spacing: 1.37px;

  @media (min-width: $lg) {
    margin-left: 10px;
    font-size: 18px;
    letter-spacing: 1.8px;
  }
}
