.contacts {
  padding-top: 124px;

  @media (min-width: $md) {
    position: relative;
    padding-top: 245px;
  }

  @media (min-width: $lg) {
    padding-top: 157px;
  }

  &::before {
    @media (min-width: $md) {
      content: "";
      position: absolute;
      top: 140px;
      left: 50%;
      width: 2px;
      height: 38px;
      background-color: #cb98a8;
      transform: translateX(-50%);
    }

    @media (min-width: $lg) {
      top: 23px;
    }
  }
}

.contacts__title {
  margin: 0;
  color: #212021;
  font-family: $font-semibold;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1.8px;

  @media (min-width: $md) {
    position: relative;
    font-size: 24px;
    letter-spacing: 2.4px;
    font-weight: 400;
  }

  @media (min-width: $lg) {
    font-size: 36px;
    letter-spacing: 3.6px;
  }

  &::before {
    @media (min-width: $md) {
      content: "Contacts";
      position: absolute;
      top: -30px;
      left: 0;
      right: 0;
      opacity: 0.4;
      color: #f8f8f8;
      font-family: $font-semibold;
      font-size: 70px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 3.8px;
      z-index: -1;
    }

    @media (min-width: $lg) {
      top: 70px;
      font-size: 133px;
      letter-spacing: 23.2px;
    }
  }
}
