.contacts-author {
  margin: 0;
  margin-top: 35px;
  padding: 0;
  text-align: center;
  list-style: none;
}

.contacts-author__link-label {
  display: inline-block;
  padding-right: 30px;
  color: #4e4d4e;
  font-family: $font-semibold;
  letter-spacing: 1.36px;
}

.contacts-author__link {
  display: inline-block;
  margin-left: 5px;
  color: #4e4d4e;
  text-decoration: none;
  letter-spacing: 1.37px;
}
