.header-nav {
  position: relative;
  width: 25px;
  height: 14px;
  margin-left: auto;
  box-shadow: inset 0 2px 0 0 #ffffff;

  @media (min-width: $md) {
    margin-top: 14px;
    margin-left: ceil(percentage(316 / 764));
    box-shadow: inset 0 2px 0 0 #000000;
  }

  @media (min-width: $lg) {
    display: flex;
    width: auto;
    max-width: 750px;
    height: auto;
    margin-top: 0;
    margin-left: 335px;
    box-shadow: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    width: 15px;
    height: 2px;
    background-color: #ffffff;

    @media (min-width: $md) {
      background-color: #000000;
      left: 0;
    }

    @media (min-width: $lg) {
      visibility: hidden;
    }
  }

  &::before {
    top: 50%;
  }
}

.header-nav__btn-close {
  box-shadow: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background-color: #ffffff;
    transform: translate(-50%, -50%);

    @media (min-width: $md) {
      background-color: #000000;
    }
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.header-nav__list {
  display: none;
  position: absolute;
  top: 0;
  left: -150px;
  width: 150px;
  min-height: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  @media (min-width: $md) {
    top: 30px;
    left: -55px;
  }

  @media (min-width: $lg) {
    display: flex;
    position: relative;
    width: auto;
    min-height: auto;
    top: auto;
    left: auto;
  }

  &::before {
    @media (min-width: $lg) {
      content: "";
      position: absolute;
      top: 8px;
      left: -15px;
      width: 459px;
      height: 4px;
      background-color: #ffffff;
    }
  }
}

.header-nav__item {
  @media (min-width: $lg) {
    display: inline-block;
    margin-left: 87px;
  }

  &:first-child {
    @media (min-width: $lg) {
      margin-left: 0;
    }
  }

  &:not(:first-child) {
    margin-top: 20px;

    @media (min-width: $lg) {
      margin-top: 0;
    }
  }
}

.header-nav__link {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;

  @media (min-width: $md) {
    color: $color-black-md;
  }

  @media (min-width: $lg) {
    color: $color-black-md;
    opacity: 0.6;
    font-size: 18px;
  }
}

.header-nav__link-tel {
  display: none;

  @media (min-width: $md) {
    display: inline-block;
    min-width: 132px;
    margin-left: ceil(percentage(196 / 25));
    color: #3b3b3b;
    font-size: 18px;
    font-family: $font-semibold;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
  }

  @media (min-width: $lg) {
    color: #878787;
    margin-left: 155px;
  }
}
