.header-nav {
  position: relative;
  width: 25px;
  height: 14px;
  margin-left: auto;
  box-shadow: inset 0 2px 0 0 #ffffff;

  @media (min-width: $md) {
    margin-top: 15px;
    margin-left: ceil(percentage(316 / 764));
    box-shadow: inset 0 2px 0 0 #000000;
  }

  @media (min-width: $lg) {
    display: flex;
    width: auto;
    max-width: 750px;
    height: auto;
    margin-top: 0;
    margin-left: 335px;
    box-shadow: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    width: 15px;
    height: 2px;
    background-color: #ffffff;

    @media (min-width: $md) {
      background-color: #000000;
      left: 0;
    }

    @media (min-width: $lg) {
      visibility: hidden;
    }
  }

  &::before {
    top: 50%;
  }
}

.header-nav__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $lg) {
    display: flex;
  }
}

.header-nav__item {
  @media (min-width: $lg) {
    display: inline-block;
    margin-left: 87px;
  }

  &:first-child {
    @media (min-width: $lg) {
      margin-left: 0;
    }
  }
}

.header-nav__link {
  @media (min-width: $lg) {
    color: $color-black-md;
    opacity: 0.6;
    font-size: 18px;
    text-decoration: none;
  }
}

.header-nav__link-tel {
  display: none;

  @media (min-width: $md) {
    display: inline-block;
    min-width: 132px;
    margin-left: ceil(percentage(195 / 25));
    color: #3b3b3b;
    font-size: 18px;
    font-family: $font-semibold;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
  }

  @media (min-width: $lg) {
    color: #878787;
    margin-left: 155px;
  }
}
