.item-list {
  margin: 0;
  margin-top: 9px;
  padding: 0;
  list-style: none;
  color: #212021;
  text-align: center;
  line-height: 14px;

  @media (min-width: $md) {
    max-width: 225px;
    margin-top: 10px;
  }

  @media (min-width: $lg) {
    max-width: 310px;
    margin-top: 25px;
  }
}

.item-list__item {
  margin-top: 3px;

  @media (min-width: $lg) {
    font-size: 18px;
    line-height: 22px;
  }
}
