.item-list {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
  color: #212021;
  text-align: center;

  @media (min-width: $md) {
    max-width: 225px;
    margin-top: 10px;
  }
}

.item-list__item {
  margin-top: 3px;
}
