.link {
  display: inline-block;
  position: relative;
  margin-top: 35px;
  padding-right: 35px;
  color: #ffffff;
  font-size: 14px;
  font-family: "Helvetica", sans-serif;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.5px;
  border-bottom: 2px solid #ffffff;

  @media (min-width: $md) {
    color: $color-black-md;
    border-color: $color-black-md;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 25px;
    height: 2px;
    background-color: #ffffff;

    @media (min-width: $md) {
      background-color: $color-black-md;
    }
  }
}
