.portfolio-item {
  max-width: 290px;
  margin: 0 auto;
  padding-bottom: 73px;

  @media (min-width: $md) {
    width: 184px;
    margin-left: 15px;
    padding-bottom: 30px;
  }

  @media (min-width: $lg) {
    width: 317px;
    max-width: 415px;
    margin-left: 12px;
    padding-bottom: 95px;
  }

  &:first-child {
    @media (min-width: $md) {
      width: 240px;
      margin-top: 100px;
      margin-left: 40px;
    }

    @media (min-width: $lg) {
      width: 100%;
      margin-top: 172px;
      margin-left: 35px;
    }
  }

  &:nth-child(3) {
    @media (min-width: $lg) {
      padding-bottom: 30px;
    }
  }

  &:last-child {
    @media (min-width: $md) {
      margin-top: 115px;
      margin-right: 40px;
    }

    @media (min-width: $lg) {
      width: 317px;
      margin-top: 200px;
      margin-right: 16px;
    }
  }
}

.portfolio-item__img {
  display: block;
  margin: 0 auto;
  width: 290px;
  height: 374px;

  @media (min-width: $md) {
    max-width: 100%;
    height: 100%;
  }

  @media (min-width: $lg) {
    width: 100%;
  }

  &--marmalade {
    height: 454px;

    @media (min-width: $md) {
      height: auto;
    }

    @media (min-width: $lg) {
      max-width: none;
      width: auto;
      height: 648px;
    }
  }

  &--funky-food {
    height: 363px;

    @media (min-width: $md) {
      height: auto;
    }

    @media (min-width: $lg) {
      height: 396px;
    }
  }

  &--good-food {
    height: 374px;

    @media (min-width: $md) {
      height: auto;
    }

    @media (min-width: $lg) {
      height: 408px;
    }
  }

  &--branch {
    height: 456px;

    @media (min-width: $md) {
      height: auto;
    }

    @media (min-width: $lg) {
      height: 495px;
    }
  }
}

.portfolio-item__tip {
  display: block;
  margin-top: 17px;
  font-size: 12px;
  font-weight: 300;
}

.portfolio-item__title {
  margin: 0;
  margin-top: 10px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  @media (min-width: $md) {
    margin-top: 0;
    font-size: 16px;
  }

  @media (min-width: $lg) {
    margin-top: 15px;
  }

  &--sm {
    margin-top: 0;
  }

  br {
    display: none;

    @media (min-width: $lg) {
      display: block;
    }
  }
}

