.portfolio__title {
  margin: 0;
  margin-top: 105px;
  color: #212021;
  font-family: $font-semibold;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.75px;
}

.portfolio__list {
  margin: 0;
  margin-top: 40px;
  padding: 0;
  list-style: none;
}
