.portfolio-details {
  position: relative;
  min-height: 298px;
  padding-left: 40px;
  padding-top: 80px;

  @media (min-width: $md) {
    width: 582px;
    min-height: 343px;
    margin-top: 168px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-left: 0;
    border: 7px solid #8eb574;
  }

  @media (min-width: $lg) {
    width: 709px;
    min-height: 468px;
    margin-top: 150px;
    margin-left: ceil(percentage(419 / 1440));
    margin-right: ceil(percentage(312 / 1440));
  }

  &::before {
    @media (min-width: $md) {
      content: "";
      position: absolute;
      top: -28px;
      right: 100px;
      width: 791px;
      height: 298px;
      background-color: #f8f8f8;
      z-index: -1;
    }

    @media (min-width: $lg) {
      width: 971px;
      height: 375px;
      top: -38px;
      right: 163px;
    }
  }
}

.portfolio-details__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/portfolio-salad.jpg");
  background-repeat: no-repeat;
  background-position: 80% top;
  background-size: cover;
  z-index: -1;

  @media (min-width: $md) {
    width: 450px;
    height: 274px;
    top: 35px;
    left: -310px;
    z-index: 1;
  }

  @media (min-width: $lg) {
    width: 611px;
    height: 373px;
    top: 35px;
    left: -440px;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(#000000, 0.5);

    @media (min-width: $md) {
      display: none;
    }
  }
}

.portfolio-details__title {
  margin: 0;
  margin-left: 5px;
  color: #ffffff;
  font-size: 18px;
  font-family: $font-semibold;

  @media (min-width: $md) {
    margin-left: 156px;
    font-size: 24px;
    color: $color-black-md;
  }

  @media (min-width: $lg) {
    margin-left: 195px;
  }
}

.portfolio-details__descr {
  margin: 0;
  margin-left: 5px;
  margin-top: 15px;
  max-width: 200px;
  color: #ffffff;

  @media (min-width: $md) {
    max-width: 230px;
    margin-top: 15px;
    margin-left: 156px;
    font-size: 16px;
    color: $color-black-md;
  }

  @media (min-width: $lg) {
    max-width: 255px;
    margin-top: 20px;
    margin-left: 195px;
  }
}

.portfolio-details__link {
  @media (min-width: $md) {
    margin-left: 156px;
  }

  @media (min-width: $lg) {
    margin-top: 30px;
    margin-left: 195px;
  }
}
