.portfolio-item {
  padding-bottom: 60px;
}

.portfolio-item__img {
  display: block;
  margin: 0 auto;
  max-width: 290px;
}

.portfolio-item__tip {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 300;
}

.portfolio-item__title {
  margin: 0;
  margin-top: 5px;
  font-weight: 700;
}

