.price {
  padding-top: 135px;
}

.price__title {
  margin: 0;
  color: #212021;
  font-size: 18px;
  text-align: center;
  letter-spacing: 3px;
}

.price__list {
  margin: 0;
  margin-top: 45px;
  padding: 0;
  list-style: none;
}
