.price {
  padding-top: 135px;

  @media (min-width: $md) {
    position: relative;
    padding-top: 215px;
  }

  @media (min-width: $lg) {
    padding-top: 230px;
  }

  &::before {
    @media (min-width: $md) {
      content: "";
      position: absolute;
      top: 112px;
      left: 50%;
      width: 2px;
      height: 38px;
      background-color: #cb98a8;
      transform: translateX(-50%);
    }

    @media (min-width: $lg) {
      top: 95px;
    }
  }
}

.price__title {
  margin: 0;
  color: #212021;
  font-size: 18px;
  text-align: center;
  letter-spacing: 3px;

  @media (min-width: $md) {
    font-size: 24px;
    font-family: $font-semibold;
    letter-spacing: 4px;
  }

  @media (min-width: $lg) {
    font-size: 36px;
    letter-spacing: 3.6px;
  }
}

.price__list {
  margin: 0;
  margin-top: 50px;
  padding: 0;
  list-style: none;

  @media (min-width: $md) {
    display: flex;
    margin-top: 110px;
    margin-left: 42px;
    margin-right: 42px;
  }

  @media (min-width: $lg) {
    width: 1110px;
    margin: 0 auto;
    margin-top: 192px;
  }
}
