.socials {
  display: flex;
  max-width: 185px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0;
  list-style: none;

  @media (min-width: $md) {
    margin-top: 50px;
  }

  @media (min-width: $lg) {
    margin-top: 71px;
  }
}

.socials__item {
  width: 26px;
  height: 26px;
  margin-right: 26px;
  background-color: #4e4d4e;

  @media (min-width: $md) {
    width: 34px;
    height: 34px;
  }
}

.socials__link {
  display: inline-block;
  width: 26px;
  height: 100%;
  font-size: 0;

  @media (min-width: $md) {
    width: 34px;
  }
}
