*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  color: $color-black;
  font-family: $font-source;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

