section.about#about
  .container.about__container
    h2.about__title Обо мне
    .about__content-wrapper
      .about__img-wrapper
        img.about__img.about__img--left(src="img/about-pic-left.jpg", alt="Процесс съёмки")
        img.about__img.about__img--right(src="img/about-pic-right.jpg", alt="Процесс съёмки")
      .about__content.about-content
        p.about-content__text Во всех фотосъемках еды, я работаю как фуд-фотограф и фуд-стилист. Создаю креативные концепции, реализую ваши идеи. Разрабатываю рецепты, вкусно снимаю. Провожу обучение
        p.about-content__text Всегда открыта к сотрудничеству и&nbsp;рада новым предложениям
        .about-content__link-wrapper
          span.about-content__link-label Tel.:
          a.about-content__link-author(href="tel:+79166677112" title="Позвоните мне") + 7 916 66 77 112
        .about-content__link-wrapper
          span.about-content__link-label Mail:
          a.about-content__link-author(href="mailto:daria.voronina@gmail.com" title="Напишите мне") daria.voronina@gmail.com
        a.about-content__link.link(href="#") Работать со мной

    include ../blocks/note
    +note()

  include ../blocks/pagination
  +pagination(2)
