footer.footer
  section.footer__contacts.contacts#contacts
    .container
      h2.contacts__title Свяжитесь со мной
      ul.contacts__author-list.contacts-author
        li.contacts-author__item
          span.contacts-author__link-label Skype
          a.contacts-author__link(href="https://skype.com") daria.voronina
        li.contacts-author__item
          span.contacts-author__link-label E-mail
          a.contacts-author__link(href="mailto:daria.voronina@gmail.com") daria.voronina@gmail.com
        li.contacts-author__item
          span.contacts-author__link-label Phone
          a.contacts-author__link(href="tel:+79166677112") + 7 916 66 77 112
      ul.contacts__socials.socials
        li.socials__item
          a.socials__link(href="https://facebook.com")
            svg.socials__icon(width="34", height="34")
              use(xlink:href="img/sprite.svg#icon-fb")
            | Напишите мне на Facebook
        li.socials__item
          a.socials__link(href="https://instagram.com")
            svg.socials__icon(width="34", height="34")
              use(xlink:href="img/sprite.svg#icon-insta")
            | Посмотрите мою страничку в Instagram
        li.socials__item
          a.socials__link(href="https://vk.com")
            svg.socials__icon(width="34", height="34")
              use(xlink:href="img/sprite.svg#icon-vk")
            | Напишите мне Вконтакте
        li.socials__item
          a.socials__link(href="https://periscope.com")
            svg.socials__icon(width="34", height="34")
              use(xlink:href="img/sprite.svg#icon-pt")
            | Смотрите мои трансляции со съемок в Перископе
