header.header(id="header")
  nav.header__nav.header-nav
    ul.header-nav__list
      li.header-nav__item
        a.header-nav__link(href="#about")  Обо мне
      li.header-nav__item
        a.header-nav__link(href="#price") Стоимость
      li.header-nav__item
        a.header-nav__link(href="#contacts") Контакты
    a.header-nav__link-tel(href="tel:+79166677112", title="Закажите фотосет") +7 916 66 77 112
  .container
    h1.header__title Дарья Воронина
    p.header__descr Food — фотограф и food — стилист в&nbsp;Москве и Московской области
    a.header__link.link(href="#portfolio") Портфолио
    .header__img

    include ../blocks/note
    +note("container__note--header")

  include ../blocks/pagination
  +pagination(0)


