section.portfolio(id="portfolio")
  .container
    h2.portfolio__title Портфолио
    .portfolio__content-wrapper
      ul.portfolio__list
        li.portfolio__item.portfolio-item
          img.portfolio-item__img(src="img/portfolio-lady-marmalade.jpg", alt="Фото контент \"Леди Мармелад\"")
          span.portfolio-item__tip #соцсети
          h3.portfolio-item__title Фото контент для социальных сетей кондитерской «Леди Мармелад»
        li.portfolio__item.portfolio-item
          img.portfolio-item__img(src="img/portfolio-funky-food.jpg", alt="Фото контент \"Funky Food\"")
          span.portfolio-item__tip #соцсети
          h3.portfolio-item__title Фото контент для инстаграма ресторана «Funky Food»
        li.portfolio__item.portfolio-item
          img.portfolio-item__img(src="img/portfolio-good-food.jpg", alt="Фото контент \"Хорошая еда\"")
          span.portfolio-item__tip #соцсети
          h3.portfolio-item__title Съемка меню ресторана<br> «Хорошая еда»
        li.portfolio__item.portfolio-item
          img.portfolio-item__img(src="img/portfolio-branch.jpg", alt="Фото контент \"Бранч\"")
          span.portfolio-item__tip #соцсети
          h3.portfolio-item__title Съемка для баннерной рекламной печати ресторана «Бранч»
  .portfolio__details-wrapper.portfolio-details
    .portfolio-details__img
    h4.portfolio-details__title Подробное портфолио
    p.portfolio-details__descr С описанием задач заказчика, полного процесса работы и&nbsp;финальным результатом
    a.portfolio-details__link.link(href="portfolio.pdf" title="Скачать портфолио") Скачать в PDF

  include ../blocks/note
  +note()

  include ../blocks/pagination
  +pagination(1)


