section.price#price
  .container
    h2.price__title Стоимость
    .price__content-wrapper
      ul.price__list
        li.price__item.price-item
          img.price-item__img(src="img/price-12hour.jpg", alt="Пример работы за 12 часов")
          h5.price-item__title 12 часов съемки
          p.price-item__subtitle &#8212; 30 000 рублей
          ul.price-item__list.item-list
            li.item-list__item Подготовка к съемке от 1 недели
            li.item-list__item Предварительный дизайн — проект
            li.item-list__item Food - стилизация
            li.item-list__item Расширенный реквизит
            li.item-list__item Цветокоррекция и пост-обработка
            li.item-list__item Результаты в течение 3-х дней
        li.price__item.price-item
          img.price-item__img(src="img/price-4hour.jpg", alt="Пример работы за 4 часа")
          h5.price-item__title 4 часа съемки
          p.price-item__subtitle &#8212; 15 000 рублей
          ul.price-item__list.item-list
            li.item-list__item Подготовка к съемке - 1 день
            li.item-list__item Food - стилизация
            li.item-list__item Использование реквизита
            li.item-list__item Цветокоррекция и постобработка
            li.item-list__item Результаты в течение 3-х дней
        li.price__item.price-item
          img.price-item__img(src="img/price-1hour.jpg", alt="Пример работы за 1 час")
          h5.price-item__title 1 час съемки
          p.price-item__subtitle &#8212; 4 000 рублей
          ul.price-item__list.item-list
            li.item-list__item Food - стилизация
            li.item-list__item Использование реквизита
            li.item-list__item Цветокоррекция
            li.item-list__item Результаты в течение 5-х дней
